body{
    background-color: aliceblue;
    background-size: cover;
    align-content: center;
}


h1{
font-family: "Times New Roman";
    font-size: 60px;
    text-align: center;
    font-weight: bold;

}
table{
    border:solid 2px;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    width: 80%;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
tr:last-child{
    border-bottom: none;
}
th{
    font-family: "Times New Roman", Arial;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: blue;
}
td{
    font-family: "Times New Roman", Arial;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
a{
    text-decoration: none;
}
#button1 {
    background-color: lightcoral;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
#button2 {
    background-color: red;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
#button3 {
    background-color: greenyellow;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
#photo{
    width: 100%;
    height: 50px;
}
#form{
    text-align: center;
}
label{
    width: 600px;
    text-align: right;
    display: inline-block;
}
#add{
    background-color: yellow;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
#can{
    width: 10%;
    margin-left: 40%;
    margin-right: 50%;
}
#createnew{
    width: 10%;
    margin-left: 40%;
    margin-right: 50%;
}
.btn_sb{
    width: 10%;
    margin-left: 40%;
    margin-right: 50%;
}
#view{
    font-family: "Times New Roman", Arial;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: blue;
}
.btn_back{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: greenyellow;
}