<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add new Apartment</h1>
    <form action="/create" method="post">
        <label>Enter Address: </label>
        <input type="text" name="address">
        <br/>
        <br/>
        <label>Enter Zip: </label>
        <input type="text" name="zip">
        <br/>
        <br/>
        <label>Enter Apartment Size: </label>
        <input type="text" name="size">
        <br/>
        <br/>
        <label>Enter Floor: </label>
        <input type="text" name="floor">
        <br/>
        <br/>
        <label>Enter if it has Furniture (Press 1 for Yes/ 0 for No): </label>
        <input type="text" name="has_furniture">
        <br/>
        <br/>
        <label>Enter Price: </label>
        <input type="text" name="price">
        <br/>
        <br/>
        <input type="submit" value="Add new Apartment">
    </form>
</body>
</html>