<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/general.css">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th><img src="cph.jpg" width="370px"height="300px"></th>
        <th><img src="cph2.jpeg" width="370px"height="300px"></th>
        <th><img src="cph2.jpg" width="370px"height="300px"></th>
        <th><img src="cph4.jpg" width="370px"height="300px"></th>
    </tr>
</table>
    <h1>Apartment List</h1>

<a href="/create">
    <button>Add new Apartment</button>
</a>
<br />
<table id = "table", class="center">
    <thead>
    <tr>
        <th>Id</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Size</th>
        <th>Floor</th>
        <th>Furniture</th>
        <th>Price</th>
        <th>Options</th>
        <th>Photo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="apartment: ${apartments}">
        <td th:text="${apartment.apID}"/>
        <td th:text="${apartment.address}"/>
        <td th:text="${apartment.zip}"/>
        <td th:text="${apartment.size}"/>
        <td th:text="${apartment.floor}"/>
        <td th:text="${apartment.has_furniture}"/>
        <td th:text="${apartment.price}"/>
        <td>
            <a th:href="@{'/viewOne/' + ${apartment.apID}}">
                <button id="button1">View Info</button>
            </a>
            <a th:href="@{'/delete/' + ${apartment.apID}}">
                <button id="button2">Delete</button>
            </a>
            <a th:href="@{'/update/'+${apartment.apID}}">
                <button id="button3">Update</button>
            </a>
        </td>
        <td><img src="photo.jpeg" width="100px"height="100px"></td>
    </tr>
    </tbody>
</table>
</body>
</html>