<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Apartment</title>
</head>
<body>
    <h1>Update Apartment</h1>

    <form action="/updateApartment" method="post">
        <label>Apartment ID: </label>
        <input type="text" name="apID" th:value="${apartment.apID}" readonly /><br />
        <label>Change Address: </label>
        <input type="text" name="address" th:value="${apartment.address}" required /><br />
        <label>Change Zip: </label>
        <input type="text" name="zip" th:value="${apartment.zip}" required minlength="4" maxlength="4" pattern="^[1-9][0-9]*" /><br />
        <label>Change Apartment Size: </label>
        <input type="text" name="size" th:value="${apartment.size}" required pattern="\d*" /><br />
        <label>Change Apartment Floor: </label>
        <input type="text" name="floor" th:value="${apartment.floor}" required maxlength="2" pattern="^[1-9][0-9]*" /><br />
        <label>Choose if it has Furniture (Type Yes/No): </label>
        <input type="text" name="has_furniture" th:value="${apartment.has_furniture}" required pattern="(Yes|No)" /><br />
        <label>Change Price: </label>
        <input type="text" name="price" th:value="${apartment.price}" required pattern="\d*" /><br />

        <input type="submit" value="Save Changes">
    </form>
    <br />
    <a href="/">
        <button>Cancel</button>
    </a>
</body>
</html>